
{% extends "base.html" %}
{% block content %}
{% load static %}
<html lang="en">
<head>
	<title>Contact V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->


</head>
<body>

	<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
				<img src="{% static 'images/img-01.png' %}" alt="IMG">
			</div>

			<form class="contact1-form validate-form">
				<span class="contact1-form-title">
					Get in touch
				</span>

				<table>
					<tr>
						<td>Email</td>
						<td>gurpreet.kaur@uni.li</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>+4232651111</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>9490 Vaduz,Liechtenstein</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>
{% endblock %}
